$light-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
$dark-inset-shadow: inset 0px 0px 4px black;
$light-bg-img: "brillant.png";
$dark-bg-img: "dark_geometric.png";

$light-text-color: #666;
$dark-text-color: #ddd;
